h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blue;
}
body{
    background-color:rgb(180, 201,200);
}
.title{
    text-align: center;
}
.sizeftn{
    font-size: 14px;
}